<!--wrap = 包む-->
<div class="list-wrap">
  <!--@list = List.allのデータをeach文で配列。代数はlist-->
<!--%=の=は不要、htmlとして表示する理由がないため-->
<% @lists.each do |list| %>
 <!--list.title,list.body,list.image,list.idのlistはeach文の代数のlist-->
  <div class="list-box">
     <!--list.iamgeがあればtrue-->
    <% if list.image.attached? %>
       <!--image_tag データ元,サイズ。サイズ間は小文字のエックス(x)要注意！-->
      <%= image_tag list.image, size: "200x200" %>
    <% else %>
      <!--falseであった場合no_imageを表示する-->
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
                              <!--link_to 表示名, "/リンク先のurl"  ,忘れに注意-->
      <span class="list-title"><%=link_to list.title, list_path(list.id) %></span>
    </div>
  </div>
<% end %>
</div>
